* {
   animation: fade-in 0.5s;
}

.splash-message {
   color: white;
   font-size: 3vh;
   position: absolute;
   background: rgba(0, 0, 0, 0.5);
   border-radius: 10px;
   top: 20%;
   left: 50%;
   transform: translateX(-50%);
   padding: 20px;
   font-weight: bold;
   width: 45vw;
}

.formv2 {
   height: 100vh;
   width: 100vw;
   overflow: auto;
}

.detailsv2 {
   display: flex;
   flex-direction: column;
   position: relative;
   top: 10%;
   transform: translateX(-50%);
   left: 50%;
   min-height: 75vh;
   width: 85vw;
   z-index: 9999;
}

.detailsv2FlexItem {
   flex: 1;
}

.form-flex-itemv2 {
   background: rgb(46, 46, 46);
   border-radius: 5px;
   margin: 5px;
   flex: 1;
   border: 2px solid rgb(255, 255, 255);
   border-right: none;
   min-height: 5vh;
   position: relative;
   height: 3vh;
}

.form-details-label {
   position: absolute;
   left: 3%;
   text-align: left;
   top: 50%;
   width: 100%;
   font-weight: bold;
   font-size: 1.75vh;
   color: rgb(248, 248, 248);
   transform: translateY(-50%);
}

.form-details-input {
   background: rgb(214, 214, 214);
   font-weight: bold;
   color: rgb(0, 0, 0);
   width: 65%;
   max-height: 100%;
   right: 0%;
   top: 50%;
   font-size: 2vh;
   position: absolute;
   transform: translateY(-50%);
   text-align: center;
   border: 2px solid rgb(255, 255, 255);
   border-left: 2px solid rgb(46, 46, 46);;
   border-radius: 5px;
   outline: none;
}

.form-details-input:focus {
   background: white;
}

.submit-btn {
   position: absolute;
   bottom: 5%;
   right: 1%;
   font-size: 3vh;
   width: 10vw;
   font-weight: bold;
   color: rgb(153, 49, 49);
   border-radius: 5px;
   border: 2px solid rgb(49, 49, 49);
   cursor: pointer;
   transition: all 0.25s;
   padding: 5px;
   z-index: 999999;
   background: rgb(0, 0, 0);
}

.submit-btn:hover {
   color: rgb(82, 226, 154);
}

@-webkit-keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@keyframes fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
